<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <ul>
        <li><a href="/admin/edit_master">Edit Master DB</a></li>
        <p>Update the master table, and in turn, the default categorical preferences by changing which PLAID categories correspond to which Budget Blocks categories.</p>
        <br>
        <li><a href="/admin/reset_master_confirmation">Reset Master DB </a></li>
        <p>Reset master table to original default settings.</p>
        <br>
        <li><a href="/admin/db">Display Current Master DB</a></li>
        <p>View what is currently in the master table.</p>
        <br>
        <li><a href="/admin/reset_user_confirmation">Reset User DB</a></li>
        <p>Reset users table. Removes all users from the table.</p>        
        <br>
    </ul>
</body>
</html>