<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Successful</title>
</head>
<body>
    <h1>Edit Successful!</h1>
    <h3>{{plaid_cat}} was moved from {{cat}} to {{destination}}</h3>
    <br>
    <ul>
        <li><a href="/admin/edit_master">Edit Master DB</a></li>
            <p>Perform another edit on the master table.</p>
        <br>
        <li><a href="/admin">Admin Panel</a></li>
            <p>Go back to the main admin panel.</p>
        <br>
        <li><a href="/admin/db">View DB</a></li>
            <p>View the current state of the master table</p>
    </ul>
    <hr>
    <h3>Last 5 master changes in order from newest to oldest</h3>
    <ul>
    {% for change in changes %}
        <li>Change: {{change[1]}} Time: {{change[0]}}</li>
    {% endfor %}
    </ul>
</body>
</html>